.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h3 Edit Pin
      .panel.panel-body
        = image_tag @pin.image.url :medium, class: 'edit'
        %br/
        %br
        = render 'form'
        %br
        %p= link_to 'Cancel', pin_path,  class: 'btn btn-default'